src/Aristos/CronBundle/Component/Loader/cronjob/cronjob-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jobs" type="jobsType"/>
  <xs:complexType name="jobType">
    <xs:sequence>
      <xs:element type="scheduleType" name="schedule"/>
      <xs:element type="runType" name="run"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="scheduleType">
    <xs:sequence>
      <xs:element type="xs:string" name="cron_expr"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="runType">
    <xs:sequence>
      <xs:element type="xs:string" name="class"/>
      <xs:element type="xs:string" name="method" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jobsType">
    <xs:sequence>
      <xs:element type="jobType" name="job"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>